mat-card{
  margin:  20px;
}

table {
  width: 100%;
}

.loading-spinner{
  padding: 25px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mdc-data-table__cell, .mdc-data-table__header-cell{
   border-bottom-width: 1px;
   margin-top: 3px;

  }

  .mdc-data-table__header-cell{
    margin-top: 15px;
  }

 
